<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserName" value="username" />
    <add key="Password" value="password" />
    <add key="WebHook" value="https://webhookserver" />
    <add key="CCTray" value="http://server/cctray.xml" />
    <add key="Deployments" value="project1,project2" />
    <add key="Builds" value="build1,build2" />
    <add key="SuccessMessage" value="has been fixed! :metal:" />
    <add key="FailureMessage" value="is broken :broken_heart:" />
    <add key="DeployedMessage" value="has been deployed :thumbsup:" />
    <add key="Interval" value="5000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>